.tower {
  height: 10px;
  width: 10px;
  position: absolute;
  margin-left: -5px;
  margin-top: -5px;
  background: #222;
  border: 1px solid #ffffff;
  transition: all 100ms linear;
}

.tower .cannon {
  position: absolute;
  left: 4px;
  height: 9px;
  top: -5px;
  background-color: #ffffff;
  width: 2px;
}

.tower .range {
  position: absolute;
  background: #8AFF41;
  border-radius: 1000px;
  opacity: 0.1;
}
